In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv("IMDB.csv")

In [3]:
data.describe()

                                                   review sentiment
count                                               50000     50000
unique                                              49582         2
top     Loved today's show!!! It was a variety and not...  positive
freq                                                    5     25000

In [4]:
data.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [5]:
data.groupby(['sentiment']).describe()

          review                                                            \
           count unique                                                top
sentiment
negative   25000  24698  This show comes up with interesting locations ...
positive   25000  24884  Loved today's show!!! It was a variety and not...


          freq
sentiment
negative     3
positive     5

In [6]:
data['positive']=data['sentiment'].apply(lambda x: 1 if x=='positive' else 0)
data.head()

                                              review sentiment  positive
0  One of the other reviewers has mentioned that ...  positive         1
1  A wonderful little production. <br /><br />The...  positive         1
2  I thought this was a wonderful way to spend ti...  positive         1
3  Basically there's a family where a little boy ...  negative         0
4  Petter Mattei's "Love in the Time of Money" is...  positive         1

In [7]:
from sklearn.model_selection import train_test_split as tts
X_train,X_test,Y_train,Y_test=tts(data['review'],data['positive'],test_size=0.20,random_state=100)

In [8]:
X_test.shape,X_train.shape
X_train[0:1]

22204    i taped this as a teenager in the mid 80s base...
Name: review, dtype: object

In [38]:
from sklearn.feature_extraction.text import CountVectorizer
v=CountVectorizer()
X_train_cv=v.fit_transform(X_train.values)
X_train_cv.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [40]:
from sklearn.preprocessing import Normalizer
nm=Normalizer()
X_train_c=nm.fit_transform(X_train_cv)

In [41]:
from sklearn.naive_bayes import MultinomialNB
model=MultinomialNB()
model.fit(X_train_c,Y_train)

MultinomialNB()

In [11]:
X_test.shape

(10000,)

In [42]:
example=['This a fantastic movie of three prisoners who become famous. One of the actors is george clooney and I am not a fan but this roll is not bad. Another good thing about the movie is the soundtrack (The man of constant sorrow). I recommand this movie to everybody. Greetings Bart'
        ,'Howard (Kevin Kline) teaches English at the high school in a small Indiana city. He is finally getting married to Emily (Joan Cusack), much to his parents delight. The town is abuzz, too, because one of its own, Cameron (Matt Dillon) has been nominated for an acting Oscar. Everyone, including Howard and Emily, is watching the Academy Awards on television as Cameron is declared the winner! In his acceptance speech, Cameron announces that he was able to fulfill his role as a gay military man, in part, because of lessons he learned from a gay teacher he had in high school. You guessed it, its Howard! But, Howard has never "come out"; in fact, he believes he is straight! With the whole town, and members of the media, waiting and observing the happenings, will Howard and Emily go ahead and get married? Or, is Howard truly gay and realize he can not go through with the ceremony? This is a wonderful, funny, and humane film about a gay man and his situation. As the man-who-did-not-realize-he-was-gay, Kline is excellent and touching. The rest of the cast is equally fine, with Cusack a stitch as the mixed-up fiancÃ© and Dillon, Bob Newhart, Debbie Reynolds, Tom Selleck, and others on hand to delight the audience as well. The costumes are very nice and the setting in the lovely Indiana heartland is beautiful. Then, too, the script, the direction, and the production are very, very nice. But, the insightful, humorous, and the thoughtful look at the gay population is the films best asset, no doubt. For those who would be offended by a gay-themed film, yes, just skip over this one. But, for everyone who wants to laugh heartily, and gain a better understanding of the gay situation at the same time, this is definitely the best film out there.']

example_count=v.transform(example)

In [43]:
result=model.predict(example_count)

In [44]:
if result[1]==1:
    print("Movie is good,positve review from the viewrs")
else:
    print("Movie is not good,negative review from the viewrs")

Movie is good,positve review from the viewrs

In [33]:
print("Enter your view regarding the moview:")
review=input()

Enter your view regarding the moview:
But another aspect of that same enthusiasm is the discovery of the unrealized future of the past—of great movies made and seen (or hardly seen) in recent decades that weren’t properly discussed and justly acclaimed in their time.”. Since one of the critical weapons used against the best of the new is an ossified and nostalgic classicism, the reëvaluation of what’s canonical, the acknowledgment of unheralded masterworks—and of filmmakers whose careers have been cavalierly truncated by industry indifference—is indispensable to and inseparable from the thrilling recognition of the authentically new.

In [34]:
review_=[review]
final=v.transform(review_)
final

<1x93079 sparse matrix of type '<class 'numpy.int64'>'
	with 63 stored elements in Compressed Sparse Row format>

In [45]:
result=model.predict(final)
if result==1:
    print("Movie is good,positve review from the viewrs")
else:
    print("Movie is not good,negative review from the viewrs")

Movie is good,positve review from the viewrs

In [49]:
X_test_cv=v.transform(X_test)
X_test_c=nm.fit_transform(X_test_cv)

In [50]:
from sklearn.metrics import classification_report 
y_pred=model.predict(X_test_c)
print(classification_report(Y_test,y_pred))

              precision    recall  f1-score   support

           0       0.82      0.91      0.86      4918
           1       0.91      0.80      0.85      5082

    accuracy                           0.86     10000
   macro avg       0.86      0.86      0.86     10000
weighted avg       0.86      0.86      0.86     10000